.scrollbar {
  /* Tailwind color teal 950 */
  --sb-track-color: #042f2e;

  /* Tailwind color teal 100 */
  --sb-thumb-color: #ccfbf1;

  --sb-size: 6px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
