@tailwind base;
@tailwind components;
@tailwind utilities;

/* For removing arrows from number inputs */
.no-arrow,
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield !important;
}
